footer
{
    margin-top: 80px;
    border-top: 2px solid var(--surface);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

footer p
{
    color: var(--text-muted);
    font-size: var(--fs-small-cl);
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


@media (min-width: 720px) 
{
    footer
    {
        height: 150px;
    }
}