.hero
{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero::before
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
}

.informacion
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 80%;
    max-width: 800px;
    z-index: 2;
}

.buttons
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    max-width: 40.625rem;
    display: grid;
    grid-template-columns: min(1fr);
    gap: .625rem;
}

.notify
{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: var(--text-light);
    font-weight: var(--fw-bold);
    z-index: 2;
    cursor: pointer;
}

.Expect
{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--surface);
    color: var(--text-light);
    font-weight: var(--fw-bold);
    background: var(--surface-trasn);
    color: var(--text);
    cursor: pointer;
}

.info-2
{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
}

.separador
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    gap: 1.25rem;
}

.separador hr
{
    width: 100%;
    border: 1px solid var(--surface);
}

.sponsors
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.about
{
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
}

.about h6

{
    margin-bottom: 30px;
}

.about p
{
    margin-bottom: 30px;
}

.why
{
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
}

.why h6

{
    margin-top: 12rem;
    margin-bottom: 30px;
}

.why h2

{
    margin-bottom: 40px;
}

.why .why-p
{
    margin-bottom: 30px;
    font-size: var(--fs-body);
}

.why h3
{
    margin-bottom: 30px;
    margin-top: 40px;
}

.why .mt
{
    color: var(--text-muted);
    font-size: var(--fs-body);
}

.cards-contain-h
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    /* max-width: 90%; */
    margin: 0 auto;
    gap: 15px;
    margin-top: 30px;
    padding: 10px;
}

.cards
{
    /* background-color: red; */
    /* border: 1px solid black; */
    border-radius: 10px;
    transition: transform 0.8s ease;
    overflow: hidden;
    aspect-ratio: 4 / 3;
}

.cards img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cards-contain-h.active .cards:nth-child(1),
.cards-contain-h.active .cards:nth-child(3) {
    transform: translateY(-10px);
}

.cards-contain-h.active .cards:nth-child(2),
.cards-contain-h.active .cards:nth-child(4) {
    transform: translateY(10px);
}

.speakers
{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

.speakers h6
{
    margin-bottom: 30px;
}

.speakers h2
{
    margin-bottom: 30px;
}

.speakers p
{
    font-size: var(--fs-body);
    line-height: 25px;
}

.people
{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}
.cards-people
{
    /* background-color: blue; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.card-plp
{
    background: linear-gradient(
        130deg,
        rgba(20, 20, 30, 0.30) 0%,
        rgba(15, 15, 25, 0.40) 50%,
        rgba(10, 10, 20, 0.50) 100%
    );
    backdrop-filter: blur(50px);
    border-radius: 15px;
    height: 450px;
    position: relative;  
    perspective: 1000px;
    border: 2px solid var(--surface);
}

.cards-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cards-inner.flipped
{
    transform: rotateY(180deg);
}

.front video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre todo el espacio sin deformarse */
    border-radius: 15px;
}

.front::before
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.3s ease;
}

.front:hover::before
{
    opacity: 0;
}

.front,
.back
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}

.info-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    border-radius: 0 0 15px 15px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text-card p
{
    font-size: var(--fs-body);
    color: var(--text-muted);
}

.text-card
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.open
{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
    border: 2px solid var(--surface-alt);
    background: linear-gradient(
        45deg,
        #20202060 55%,
        #24232360 100%
    );
    cursor: pointer;
    z-index: 2;
}


.back
{
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.back-head,
.info-buttons
{
    width: 100%;
}

.back-head h6
{
    color: var(--text-muted);
}

.back-head
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.back-head hr
{
    background-color: var(--surface);
    border: 1px solid var(--surface-alt);
}

.work
{
    background: linear-gradient(
        45deg,
        #14141460 55%,
        #1c1c1c60 100%
    );
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--surface-alt);
}

.work p
{
    font-size: var(--fs-text);
}

.info-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-sec
{
    padding: 10px;
}

.btn-one,
.btn-two
{
    height: 30px;
    background: linear-gradient(
        45deg,
        #20202060 55%,
        #24232360 100%
    );
    border-radius: 10px;
    padding: 0 15px;
    border: 2px solid var(--surface-alt);
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-three
{
    height: 30px;
    width: 30px;
    background: linear-gradient(
        45deg,
        #20202060 55%,
        #24232360 100%
    );
    border-radius: 100%;
    border: 2px solid var(--surface-alt);
    color: white;
    cursor: pointer;
}

.saying
{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.saying p
{
    font-size: var(--fs-body);
    color: var(--text-muted);
}

.coments
{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 15px;
    margin-top: 30px;
}

.coments-header
{
    display: flex;
    align-items: center;
    gap: 15px;
}

.picture
{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.picture img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name 
{
    font-size: var(--fs-body);
}

.user
{
    color: var(--text-muted);
    font-size: var(--fs-text)
}

.coment
{
    margin-top: 10px;
}

.coment p
{
    font-size: var(--fs-body);
}

.share
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.share p
{
    color: var(--text-muted);
    font-size: var(--fs-body);
}

.tickets
{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 150px;
}

.imp
{
    color: var(--text);
    font-size: var(--fs-body);
}

.to-know
{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.to-cards
{
    background: linear-gradient(
        45deg,
        #14141460 55%,
        #1c1c1c60 100%
    );
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--surface-alt);
}

.card-to
{
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
}

.card-to p
{
    color: var(--text-muted);
    font-size: var(--fs-body);
}

.input-btn
{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.input-btn input
{
    background-color: rgb(36, 36, 36);
    height: 40px;
    width: 100%;
    border: none;
    border: 2px solid var(--surface-alt);
    border-radius: 10px;
    padding-left: 10px;
}

.input-btn button
{
    border-radius: 50px;
    height: 40px;
    border:  none;
}

.btn-n
{
    border-radius: 50px;
    height: 40px;
    border:  none;
    width: 100%;
}

.help-us
{
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
}

.us-cards
{
    background: linear-gradient(
        45deg,
        #14141460 55%,
        #1c1c1c60 100%
    );
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--surface-alt);
    height: 400px;
}

.card-us
{
    height: 100%;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

.card-us p
{
    color: var(--text-muted);
    font-size: var(--fs-body);
}

.faq
{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.faq-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 80px;
}

.faq-answer
{
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}

.faq-item.active .faq-answer
{
    max-height: 200px;
}

.faq-question
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    padding: 0 5px;
}

.icon-fq
{
    color: white;
    font-size: 20px;
}

.faq-question p
{
    font-size: var(--fs-text);
    font-weight: 600;
}

.faq hr
{
    background-color: var(--surface);
    border: 1px solid var(--surface-alt);
    margin-top: 15px;
}

.faq-answer p
{
    font-size: var(--fs-small);
    color: var(--text);
    padding: 0 10px;
    margin-top: 20px;
}

.final
{
    position: relative;
    background-image: url(../img/hero.jpg);
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 100px;
    border: 3px solid var(--surface);
    transition: background-image 0.3s ease;
}


.final::before {
    content: ''; /* Necesitamos crear un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-radius: 15px;
    z-index: 1; /* Coloca este pseudo-elemento sobre la imagen de fondo */
    opacity: 1; /* Inicialmente, el gradiente negro está visible */
    transition: opacity 0.3s ease; /* Animamos la opacidad */
}

.final:hover::before {
    opacity: 0; /* Al hacer hover, el gradiente negro desaparece */
}

.dv-final p
{
    font-size: var(--fs-small-cl);
    line-height: 1.6rem;
}

.follow p
{
   font-size: var(--fs-small);
}

.dv-final
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

.stay-upd
{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.stay-header
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
}

.stay-header p
{
    color: var(--text-muted);
    font-size: var(--fs-body);
}

.stay-footer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.stay-footer input
{
    background-color: rgb(36, 36, 36);
    height: 40px;
    width: 100%;
    border: none;
    border: 2px solid var(--surface-alt);
    border-radius: 10px;
    padding-left: 10px;
}

.stay-footer button
{
    border-radius: 50px;
    height: 40px;
    border:  none;
}



@media (min-width: 1024px) 
{
    .buttons
    {
        display: grid;
        grid-template-columns: 60% 40%;
        width: 40%;
    }

    .to-know
    {    
       display: flex;
       justify-content: flex-start;    
    }

    .to-cards
    {
        width: 50%;
    }


    .help-us
    {
       display: flex;
       justify-content: center;  
    }

    .faq
    {
        width: 68%;
        margin: 0 auto;
        margin-top: 100px;
    }

    .final
    {
        padding: 70px;
    }

    .stay-upd
    {
        width: 40%;
    }
}

@media (min-width: 720px)
{
     .coments
     {
        grid-template-columns: repeat(2,1fr);
     }

}


