p
{
    font-size: var(--fs-p-imp);
    color: var(--text);
    font-weight: var(--fw-regular);
}

h1
{
    color: var(--text);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

h2
{
    color: var(--text);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2)
}

h3
{
    color: var(--text);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

h5
{
    color: var(--text-muted);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
}

h6
{
    color: var(--text-soft);
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}